<section class="content">
    <figure class="logo-content">
        <img class="logo-img" src="assets/imagens/logo.jpg" alt="logo">
    </figure>
    <mat-card class="login-content">
        <div class="login-form">
            <div>
                <h1>
                    ACESSO AO SISTEMA
                </h1>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Digite seu usuário</mat-label>
                <input matInput placeholder="Login" [(ngModel)]="usuario.login">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-stroked-button color="primary" (click)="authenticate()">Logar</button>
        </div>
    </mat-card>
</section>
